# Core dependencies
pydantic>=2.11.0

# AWS integration
boto3>=1.37.22

# Kubernetes integration
kubernetes>=32.0.1

# Database
clickhouse-driver>=0.2.9

# GitHub integration
PyGithub>=2.6.1

# Type checking
mypy>=1.15.0
